/* .invisible {
    height: 0px;
    visibility: hidden;
}

.visible {
    height: auto;
    visibility: visible;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    width: auto;
    height: auto;
}

.vis {
    height: auto;
    visibility: visible;
    width: auto;
}
 */

.invisible {
    visibility: hidden;
    height: 0;
}
  
.visible {
    visibility: visible;
    height: auto;
}
  
.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}
  
.tabdiv {
    display: flex;
    justify-content: space-around;
}
  
.textblock {
    background-color: yellow;
    height: 160px;
}